@import "tailwindcss";
@import "./styles/light-theme.css";
@import "./styles/dark-theme.css";

/* --- OCULTAR SCROLLBAR EN HOME PERO PERMITIR SCROLL --- */
.home-page::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.home-page,
html,
body {
  scrollbar-width: none !important;
  -ms-overflow-style: none;
}



:root {
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* 
  DARK MODE PREFERENCES
  Se aplica si el HTML tiene la clase .dark O si el sistema lo prefiere 
  y el HTML NO tiene la clase .light 
*/


html.dark #social .button-icon {
  filter: invert(1) brightness(2);
}

@media (prefers-color-scheme: dark) {
  html:not(.light) #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; 
  background-color: var(--bg);
  color: var(--text);
  /* Smooth color transition when toggling */
  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading);
  color: var(--text-h);
  letter-spacing: 2px;
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}